.brands {
  color: #313437;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

.col-form-label {
  font-size: 21px;
}

.head {
  font-size: 31px;
}

a {
  font-size: 21px;
}

